[Unit]
Description=My Rust Application
After=network.target

[Service]
ExecStart={{ app_path }}
Restart=on-failure
User={{ app_user }}
Group={{ app_group }}
{% if app_env_vars %}
Environment="{{ app_env_vars }}"
{% endif %}
WorkingDirectory={{ app_working_dir }}

[Install]
WantedBy=multi-user.target
