{% for domain in application.other_domains %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ domain }};
    return 301 https://{{ application.main_domain }}$request_uri;

    ssl_certificate /etc/letsencrypt/live/{{ application.main_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ application.main_domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
{% endfor %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ application.main_domain }};

    location / {
        # First try and load files from the public folder, if they don't exist
        # then send the request through to laravel
        try_files $uri $uri/ /index.php;

        # Forward requests on to PHP-FPM
        location = /index.php {
            include /etc/nginx/fastcgi_params;
            fastcgi_index index.php;
            fastcgi_intercept_errors on;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_pass app;
        }
    }

    ssl_certificate /etc/letsencrypt/live/{{ application.main_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ application.main_domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
